<div class="modal-header">
    <h2 class="modal-title" mat-dialog-title trans>
        <span *ngIf="updating" trans>Update Track</span>
        <span *ngIf="!updating" trans>New Track</span>
    </h2>
    <button type="button" (click)="close()" class="close-button no-style icon-button">
        <svg-icon name="close"></svg-icon>

    </button>
</div>

<form (ngSubmit)="confirm()" ngNativeValidate>
    <mat-dialog-content class="many-inputs admin-artist-edit-inputs" customScrollbar>
        <div class="input-container">
            <label for="track-name" trans>Name</label>
            <input type="text" id="track-name" name="name" [(ngModel)]="track.name" required>
            <div class="error" *ngIf="errors.name">{{errors.name}}</div>
        </div>

        <div class="input-container">
            <label for="track-number" trans>Number</label>
            <input type="number" id="track-number" name="number" [(ngModel)]="track.number" required min="1">
            <div class="error" *ngIf="errors.number">{{errors.number}}</div>
        </div>

        <div class="input-container media-autocomplete-input-container">
            <label for="track-album-name" trans>Album</label>
            <img [src]="images.getAlbumImage(album)" *ngIf="album">
            <input
                    type="text"
                    id="track-album-name"
                    name="track-album-name"
                    [formControl]="albumInput.formControl"
                    [matAutocomplete]="albumAuto"
                    placeholder="Search albums..."
                    trans-placeholder
                    required
            >
            <div class="error" *ngIf="errors.album_name">{{errors.album_name}}</div>

            <mat-autocomplete #albumAuto="matAutocomplete" [displayWith]="albumDisplayFn" class="media-autocomplete-panel" (optionSelected)="attachAlbum($event)">
                <mat-option *ngFor="let album of albumInput.searchResults | async" [value]="album">
                    <img [src]="images.getAlbumImage(album)">
                    <span>{{ album.name }}</span>
                    <span>&nbsp;-&nbsp;{{album.artist.name}}</span>
                </mat-option>
            </mat-autocomplete>
        </div>

        <div class="input-container media-autocomplete-input-container">
            <label for="track-artists" trans>Artists</label>

            <input
                    type="text"
                    id="track-artists"
                    [formControl]="artistsInput.formControl"
                    [matAutocomplete]="artistAuto"
                    placeholder="Search artists..."
                    trans-placeholder
            >

            <mat-chip-list #chipsList [selectable]="false">
                <mat-chip *ngFor="let artist of artistsInput.attachedArtists" [removable]="true" (removed)="detachArtist(artist)">
                    {{artist}}
                    <svg-icon name="cancel" matChipRemove></svg-icon>
                </mat-chip>
            </mat-chip-list>

            <mat-autocomplete #artistAuto="matAutocomplete" class="media-autocomplete-panel" (optionSelected)="attachArtist($event)">
                <mat-option *ngFor="let artist of artistsInput.searchResults | async" [value]="artist.name">
                    <img [src]="artist.image_small">
                    <span>{{ artist.name }}</span>
                </mat-option>
            </mat-autocomplete>

            <div class="error" *ngIf="errors.artists">{{errors.artists}}</div>
        </div>

        <div class="input-container">
            <label for="track-duration" trans>Duration (ms)</label>
            <input type="number" id="track-duration" name="duration" [(ngModel)]="track.duration" required min="1">
            <div class="error" *ngIf="errors.duration">{{errors.duration}}</div>
        </div>

        <div class="input-container">
            <label for="track-spotify_popularity" trans>Popularity (1 to 100)</label>
            <input type="number" id="track-spotify_popularity" name="spotify_populity" [(ngModel)]="track.spotify_popularity" min="1" max="100">
            <div class="error" *ngIf="errors.spotify_popularity">{{errors.spotify_popularity}}</div>
        </div>

        <div class="input-container" *ngIf="settings.get('audio_search_provider') === 'youtube'">
            <label for="track-youtube_id" trans>Youtube ID</label>
            <input type="text" id="track-youtube_id" name="youtube_id" [(ngModel)]="track.youtube_id" minlength="1" maxlength="30">
            <div class="error" *ngIf="errors.youtube_id">{{errors.youtube_id}}</div>
            <p>ID only. https://www.youtube.com/watch?v=<strong>EPyh41zPg4Z</strong></p>
        </div>

        <div class="input-container" *ngIf="settings.get('audio_search_provider') === 'soundcloud'">
            <label for="soundcloud_id" trans>Soundcloud Url</label>
            <input type="text" id="soundcloud_id" name="soundcloud_id" [(ngModel)]="track.youtube_id" minlength="1" maxlength="191">
            <div class="error" *ngIf="errors.youtube_id">{{errors.youtube_id}}</div>
            <p>https://api.soundcloud.com/tracks/72201243</p>
        </div>

        <div class="input-container with-addon">
            <label for="track-url" trans>Url</label>
            <button type="button" class="no-style addon" (click)="openUploadMusicModal()" matTooltip="Upload Music or Video">
                <svg-icon name="file-upload"></svg-icon>
            </button>
            <input type="url" id="track-url" name="url" [(ngModel)]="track.url" (ngModelChange)="autoFillDuration(track.url)">
            <p trans>(Optional) Absolute url from where track should be streamed.</p>
            <div class="error" *ngIf="errors.url">{{errors.url}}</div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button type="button" mat-raised-button color="accent" class="upload-button" (click)="openUploadMusicModal()" matTooltip="Upload Music or Video" trans>Upload</button>
        <button (click)="close()" type="button" mat-button class="cancel-button" trans>Close</button>
        <button type="submit" mat-raised-button color="accent" class="submit-button" trans>
            <span *ngIf="updating" trans>Update</span>
            <span *ngIf="!updating" trans>Create</span>
        </button>
    </mat-dialog-actions>

    <loading-indicator [isVisible]="loading" class="overlay opacity-high"></loading-indicator>
</form>