<div class="header">
    <div class="title" trans>Genre</div>
    <div class="subtitle" trans>Genres to display on homepage. If left empty, most popular genres will be used.</div>
</div>

<form class="body many-inputs" (submit)="saveSettings()" ngNativeValidate>
    <div class="input-container">
        <input type="text" enterKeybind (blur)="addGenre()" [(ngModel)]="genre" name="genre" placeholder="+Genre Name" trans-placeholder>

        <mat-chip-list class="genres">
            <mat-chip class="genre" *ngFor="let genre of genres" [selectable]="false" (removed)="removeGenre(genre)">
                <span>{{genre}}</span>
                <svg-icon name="cancel" matChipRemove></svg-icon>
            </mat-chip>
        </mat-chip-list>
    </div>

    <button mat-raised-button color="accent" class="update-button" type="submit" [disabled]="loading" trans>Update</button>
</form>