@import "../../../../../scss/variables";

library-tracks {
  display: block;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  min-width: 0;

  > .scroll-container {
    padding: 20px;
  }

  filterable-page-header {
    margin-bottom: 15px;
  }

  no-results-message {
    margin-top: 25px;

  }
}