@import "../vebto-client/scss/variables";

$site-accent-color: map_get($mat-light-green, 700);
$link-color: $site-accent-color;

//web player
$wp-bg-color-600: #23232C;
$wp-bg-color-500: #1e1e26;
$wp-bg-color-400: #2a2a35;
$wp-bg-color-300: #353543;
$wp-bg-color-200: #414151;
$wp-bg-color-100: #7b7b96;
$wp-border-color-200: rgba(255,255,255,0.05);
$wp-border-color-100: rgba(255,255,255,0.1);
$wp-text-color-300: #898B8C;
$wp-text-color-200: #C2C2CA;
$wp-text-color-100: #fff;

//web-player nav sidebar
$wp-nav-sidebar-width: 220px;
$wp-nav-sidebar-current-track-height: 65px;

//web-player search slideout panel
$wp-search-panel-width: 365px;

//web-player controls bar
$wp-controls-height: 65px;
$wp-controls-handle-height: 14px;
$wp-controls-progress-height: 5px;
$wp-mobile-controls-height: 137px;
$wp-play-button-size: 55px;
$wp-next-prev-button-size: 30px;
$wp-controls-action-button-size: 22px;

//web-player video
$wp-video-minimized-width: 250px;
$wp-video-minimized-height: 207px;

//auth pages
$login-page-border-color: $wp-bg-color-400;
$login-page-bg-color: $wp-bg-color-500;
$login-page-panel-bg-color: $wp-bg-color-600;
$login-page-input-bg-color: $wp-bg-color-300;
$login-page-text-color: $wp-text-color-200;
$login-page-secondary-text-color: inherit;

//account settings page
$acc-page-bg-color: $wp-bg-color-500;
$acc-page-panel-bg-color: $wp-bg-color-600;
$acc-page-border-color: rgba(255,255,255,0.05);
$acc-page-input-bg-color: $wp-bg-color-400;
$acc-page-secondary-text-color: $wp-text-color-300;
$acc-page-margin: 0 30px;

